<html>
    <head>
    <script>
        function get_audio() {
            document.getElementById("audio").src = "/audio/" + fileBlob
        }
    </script>
    </head>
    <body>
        <!-- Simple audio playback -->
        <audio
            id="audio"
            src=""
            autoplay>
            Your browser does not support the <code>audio</code> element.
        </audio>

        <div id="container">
            <video autoplay></video>
            <button>Take Picture</button>
            <canvas></canvas>
        </div>

        <script src="../webcam.js"></script>
    </body>
</html>
