<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="WebRTC code samples">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <form id="form" enctype="multipart/form-data" action="/upload" method="POST">
            <input name="file_input" type="file" accept="image/*" capture="camera" />
            <input type="submit" value="submit">
        </form>
        <audio
                id="audio"
                src=""
                autoplay>
            Your browser does not support the <code>audio</code> element.
        </audio>

        <div id="container">
            <video autoplay></video>
            <button>Take Picture</button>
            <canvas></canvas>
        </div>

        <script src="../webcam.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
