* {
    padding: 0em;
    margin: 0em;
}

html {
    min-height: 100vh;
}

.main-container {
    margin: auto;
    width: 80%;
    width-min: 600px;
}

#audio {
    /*width: 100%;*/
    /*width-min: 600px;*/
    /*visibility: hidden;*/
}

#capture-btn {
    /*background-image: url('res/take-a-picture.png');*/
    /*width: 20em;*/
    /*cursor: pointer;*/
    /*border: none;*/
}

#logo {
    width: 100%;
    max-width: 100%;
}

#logo-wrapper {
    margin-top: 2em;
    margin-bottom: 1em;
}

#reading-speed-title {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

#audio-controls {
    margin-top: 2em;
}

#imgForm {
    text-align: center;
    padding-bottom: 2em;
}

#audio-controls-wrapper {
    overflow: hidden;
    border-radius: 20px;
    background-color: lightgray;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.test {

}

#button-wrapper {
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*margin: auto;*/
    /*border-radius: 20px;*/
    /*background-color: lightgray;*/
    /*padding-bottom: 2em;*/
}

#uploadButton {
    width: 100%;
}

#description {
    width: 100%;
    font-weight: 600;
}

#logo-pic {
    width: 20%;
    margin: 0px;
    /*max-height: 2em;*/
}

#logo-text-pic {
    width: 70%;
    margin: 0px;
    padding-left: 1em;
    /*max-height: 2em;*/
}

@font-face{
    font-family: "OpenDyslexic-Regular";
    src: url("res/OpenDyslexic-Regular.otf") format("opentype");
}